.page{
  height : 600px ;
  background-color: rgb(12, 94, 218);
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.card{
  height : 560px;
  width : 320px;
  border-radius: 20px;
}
.headingAlign{
  display: flex;
  justify-content: center;
}
.card-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  width : 300px;
  background-color: white;
}
.card-title{
  display : flex;
  justify-content: center;
  font-size: 40px;
}
.card-body{
  padding-left: 30px;
  padding-top: 30px;
}
.bottom-button{
  margin : 20px;
  margin-top: 0px;
  border-radius: 20px;
}
